##
## Authentication
##

DS_NORTHSTAR_API_OAUTH_CLIENT_ID=fake-id
DS_NORTHSTAR_API_OAUTH_CLIENT_SECRET=totallysecret
DS_NORTHSTAR_API_OAUTH_TOKEN_HOST=https://identity-dev.dosomething.org
DS_NORTHSTAR_API_OAUTH_TOKEN_PATH=/v2/auth/token
DS_NORTHSTAR_API_OAUTH_SCOPES="admin activity write"

##
## Endpoints
##

DS_NORTHSTAR_API_BASEURI=https://identity-dev.dosomething.org
DS_ROGUE_API_BASEURI=https://activity-dev.dosomething.org/api/v3
